pipeline/1a_pl_dim_gcp_to_azure_full_load.json
{
	"name": "1a_pl_dim_gcp_to_azure_full_load",
	"properties": {
		"activities": [
			{
				"name": "metadata_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": {
							"value": "@concat('select para.*, control.* from metadata_schema.tbl_source_control as control, metadata_schema.tbl_parameters as para where job_id = ', string(pipeline().parameters.job_id))",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "ds_deltalake",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "get_source_file_names",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "metadata_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_input",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": {
								"value": "@activity('metadata_lookup').output.firstRow.source_file_path",
								"type": "Expression"
							},
							"file_name": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "file_count_check",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get_source_file_names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('get_source_file_names').output.childItems),0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "failure_log_copy1",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/balthayeruva7@gmail.com/set-up/table_insertion/log_record_tbl_insert",
								"baseParameters": {
									"env": {
										"value": "@pipeline().globalParameters.env",
										"type": "Expression"
									},
									"loadId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"logMessage": {
										"value": "@concat('failed to copy ',item().name, 'from source to landing')",
										"type": "Expression"
									},
									"logTimeStamp": {
										"value": "@convertFromUtc(utcNow(),'Central Standard Time' )",
										"type": "Expression"
									},
									"pipeLineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"status": {
										"value": "failure",
										"type": "Expression"
									},
									"triggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_compute",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "file_name_extension_check",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "file_count_check",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_source_file_names').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(startswith(item().name,'telecom_dim'),endswith(item().name,'.csv'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "file_proper_format_count_check",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "file_name_extension_check",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('get_source_file_names').output.childItems),0 )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "for_each_source_file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "file_proper_format_count_check",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('file_name_extension_check').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "get_file_last_modified_time",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adls_input",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@activity('metadata_lookup').output.firstRow.source_file_path",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@activity('metadata_lookup').output.firstRow.watermark_column",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "blob_to_azure_adls",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "get_file_last_modified_time",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adls_input",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@activity('metadata_lookup').output.firstRow.source_file_path",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_output_adls",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@activity('metadata_lookup').output.firstRow.container_name",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "success_log_table",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "blob_to_azure_adls",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/balthayeruva7@gmail.com/set-up/table_insertion/log_record_tbl_insert",
								"baseParameters": {
									"env": {
										"value": "@pipeline().globalParameters.env",
										"type": "Expression"
									},
									"loadId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"logMessage": {
										"value": "@concat('successfully copied ',item().name, 'from source to landing')",
										"type": "Expression"
									},
									"logTimeStamp": {
										"value": "@convertFromUtc(utcNow(),'Central Standard Time' )",
										"type": "Expression"
									},
									"pipeLineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"status": {
										"value": "success",
										"type": "Expression"
									},
									"triggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_compute",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "failure_log",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "blob_to_azure_adls",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/balthayeruva7@gmail.com/set-up/table_insertion/log_record_tbl_insert",
								"baseParameters": {
									"env": {
										"value": "@pipeline().globalParameters.env",
										"type": "Expression"
									},
									"loadId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"logMessage": {
										"value": "@concat('failed to copy ',item().name, 'from source to landing')",
										"type": "Expression"
									},
									"logTimeStamp": {
										"value": "@convertFromUtc(utcNow(),'Central Standard Time' )",
										"type": "Expression"
									},
									"pipeLineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"status": {
										"value": "failure",
										"type": "Expression"
									},
									"triggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_compute",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "update_watermark_column",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "success_log_table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/balthayeruva7@gmail.com/databricks_notebooks/dbx_update_watermark_column",
								"baseParameters": {
									"job_id": {
										"value": "@pipeline().parameters.job_id",
										"type": "Expression"
									},
									"gcp_file_last_modified_time": {
										"value": "@convertFromUtc(addSeconds(activity('get_file_last_modified_time').output.lastModified,1 ), 'central standard time','yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_compute",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"job_id": {
				"type": "string",
				"defaultValue": "201"
			}
		},
		"annotations": []
	}
}