pipeline/pl_if_activity.json
{
	"name": "pl_if_activity",
	"properties": {
		"activities": [
			{
				"name": "get file metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_txt_file",
						"type": "DatasetReference",
						"parameters": {
							"file_name": "emp_20230607.cs",
							"folder_name": "landing/level1"
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "check if file exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get file metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('get file metadata').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set false",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_exists",
								"value": "false"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set true",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_exists",
								"value": "true"
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_exists": {
				"type": "String"
			}
		},
		"annotations": []
	}
}