pipeline/pl_update_all_sp.json
{
	"name": "pl_update_all_sp",
	"properties": {
		"activities": [
			{
				"name": "get employee",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from emp ')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach employee",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get employee",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get employee').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set age",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "reset age",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_age",
								"value": {
									"value": "@string(sub(int(formatDateTime(utcNow(),'yyyy')),\nint(formatDateTime(item().Dob,'yyyy')))\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "reset age",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_age",
								"value": {
									"value": "@concat('')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "update emp",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set age",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[sp_update_emp_age]",
									"storedProcedureParameters": {
										"age": {
											"type": "Int32",
											"value": {
												"value": "@variables('v_age')",
												"type": "Expression"
											}
										},
										"emp_name": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sqldb_sql",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "set rows count",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "update emp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_row_processed",
								"value": {
									"value": "@activity('update emp').output.firstRow.rows_processed",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_age": {
				"type": "String"
			},
			"v_row_processed": {
				"type": "String"
			}
		},
		"annotations": []
	}
}