pipeline/pl_update_age_emp_sp.json
{
	"name": "pl_update_age_emp_sp",
	"properties": {
		"activities": [
			{
				"name": "get_employee",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select name,dob from dbo.emp \n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "process_employee_records",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_employee",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_employee').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "calculate_age",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "reset_age",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_age",
								"value": {
									"value": "@string(sub(int(formatdatetime(utcNow(),'yyyy')),\nint(formatdatetime(item().doB,'yyyy'))))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "reset_age",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_age",
								"value": {
									"value": "@concat('')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "update_employee",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "calculate_age",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_update_emp_age]",
								"storedProcedureParameters": {
									"age": {
										"value": {
											"value": "@variables('v_age')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"name": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ln_azure_sqldb",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_age": {
				"type": "String"
			}
		},
		"annotations": []
	}
}