pipeline/pl_validate_file_exists.json
{
	"name": "pl_validate_file_exists",
	"properties": {
		"activities": [
			{
				"name": "get file metadata config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select \n        max(case when property_name = ''container_name'' then property_value end) container_name,\n        max(case when property_name = ''folder_name'' then property_value end) folder_name,\n        max(case when property_name = ''file_name'' then property_value end) file_name\nfrom [dbo].[etl_metadata_config] where etl_job_name = ', \n'''',pipeline().parameters.p_etl_job_name,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "get all files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "get file metadata config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_txt_file",
						"type": "DatasetReference",
						"parameters": {
							"file_name": {
								"value": "@activity('get file metadata config').output.firstRow.file_name",
								"type": "Expression"
							},
							"folder_name": {
								"value": "@activity('get file metadata config').output.firstRow.folder_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "remove file extensions",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get all files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get all files').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "original file list",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_tempfiles",
								"value": {
									"value": "@variables('v_files')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "add files to list",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "original file list",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_files",
								"value": {
									"value": "@concat(variables('v_tempfiles'),\nsubstring(item().name,0 ,indexOf(item().name,'.')),'|'\n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "get unique file names",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "remove file extensions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select distinct value as filename\nfrom string_split( ''',variables('v_files'),''',''|'')\nwhere trim(value) <> ''''\n    \n    ')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"p_etl_job_name": {
				"type": "string",
				"defaultValue": "load_emp_file"
			}
		},
		"variables": {
			"v_files": {
				"type": "String"
			},
			"v_tempfiles": {
				"type": "String"
			}
		},
		"annotations": []
	}
}